.resizer {
  @apply bg-transparent hover:bg-gray-700;
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  @apply bg-blue-500;
  opacity: 1;
}

table {
  @apply table-fixed border-collapse;
  position: relative;
}

thead {
  position: sticky;
  top: 0;
}

table,
th {
  @apply border border-gray-300;
}

th {
  @apply relative select-none font-bold text-gray-600;
  font-size: 14px;
  line-height: 20px;
}

tbody tr:hover {
  @apply bg-gray-200;
}

th,
td {
  @apply overflow-hidden text-ellipsis whitespace-nowrap border-b border-t border-b-gray-300 border-t-gray-300;
}

td {
  @apply px-3 py-4 font-medium;
  font-size: 14px;
  line-height: 20px;
}
